@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerLi {
    color: var(--textColor);
    cursor: pointer;
    transition-property: color;
    transition-duration: 300ms;
  }

  .headerLi:hover {
    color: var(--secondaryColor);
  }
}